@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-moonDance: var(--font-moon-dance);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F0C27B;
  background: -webkit-linear-gradient(to right, #4B1248, #F0C27B); 
  background: linear-gradient(to right, #4B1248, #F0C27B); 
  color: var(--foreground);
  font-family: var(--font-poppins);
}

nav h1 {
  font-family: var(--font-moon-dance);
}

input {
  @apply w-full px-4 py-3 border border-white/30 rounded-xl focus:ring-2 focus:ring-yellow-400 focus:border-yellow-400 focus:shadow-lg outline-none transition-all bg-white/5 backdrop-blur-sm text-white placeholder-white/60 ;
}

